git+https://github.com/Force1ess/python-pptx
marker-pdf==1.6.2
texify>=0.2.0
python-Levenshtein
python-multipart
jinja2
openai
func_argparse
jsonlines
tenacity
transformers>=4.49.0
FlagEmbedding
oaib
json_repair
timm
einops
evaluate
vllm
pillow
socksio
numpy
rich
sentencepiece
lxml
pdf2image
PyPDF2
peft
lmdeploy
qwen-vl-utils
matplotlib